@import "tailwindcss";

@font-face {
    font-family: "IBMPlexSans";
    src: url("./assets/IBMPlexSans-Regular.ttf");
    font-weight: normal;
    font-style:normal;
}

body{
    font-family: "IBMPlexSans", sans-serif;
}